%h1 Create Fast
Create name : #{@name}
%br/
Create email : #{@email}
%br/
Create birthday : #{DateTime.current.to_date}
%br/
Create address : unknown
%br/
Create postal_code : unknown
%br/
= link_to 'Back', users_path
